<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <th:block th:fragment="vue">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    </th:block>
    <th:block th:fragment="bulma">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" th:href="@{/css/bulma-custom.css}">
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    </th:block>
</body>
</html>