<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tasks</title>
    <link rel="shortcut icon" th:href="@{/img/favicon.png}">
    <!-- bulma -->
    <th:block th:replace="common/common :: bulma"></th:block>
    <!-- Vue -->
    <script th:replace="common/common :: vue" />
</head>
<body>
<div id="vue-app">
    <th:block th:replace="common/common :: navbar"></th:block>
    <section class="section">
        <div class="columns">
            <div class="column is-one-fifth">
                <th:block th:replace="common/common :: sidemenu"></th:block>
            </div>

            <div class="column">
                <h1 class="title">タスクリスト</h1>
                <a class="button is-primary" v-on:click="requestModal">Create New Task</a>
                <modal v-bind:active="showModal"
                       v-on:modal-submit="submitTask"
                       v-on:modal-close="showModal = false;"></modal>
                <delete-modal v-bind:active="showDeleteModal"
                              v-bind:target="deleteTarget"
                             v-on:modal-submit="deleteMemo"
                             v-on:modal-close="showDeleteModal = false;"></delete-modal>
                <done-modal v-bind:active="showDoneModal"
                              v-bind:target="doneTarget"
                              v-on:modal-submit="doneMemo"
                              v-on:modal-close="showDoneModal = false;"></done-modal>
                <div class="task-container">
                    <memo v-for="task of tasks"
                          :key="task.id"
                          :id="task.id"
                          v-bind:title="task.title"
                          v-bind:text="task.text"
                          v-bind:done="task.completed"
                          :created="task.created"
                          v-on:delete-memo-request="deleteMemoRequest"
                          v-on:save-memo-request="saveMemo"
                          v-on:done-memo-request="doneMemoRequest"
                    ></memo>
                </div>
            </div>
        </div>
    </section>
</div>
</body>

<script type="module" th:src="@{/js/tasks.js}"></script>
</html>