<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tasks</title>
    <link rel="shortcut icon" th:href="@{/img/favicon.png}">
    <!-- bulma -->
    <th:block th:replace="common/common :: bulma"></th:block>
    <!-- Vue -->
    <script th:replace="common/common :: vue" />
</head>
<body>
<div id="vue-app">
    <th:block th:replace="common/common :: navbar"></th:block>
    <section class="section">
        <div class="columns">
            <div class="column is-one-fifth">
                <th:block th:replace="common/common :: sidemenu"></th:block>
            </div>

            <div class="column">
                <h1 class="title">タスクリスト</h1>
                <a class="button is-primary" v-on:click="requestModal">Create New Task</a>
                <div>
                    <modal v-bind:active="showModal"
                           v-on:modal-submit="submitTask"
                           v-on:modal-close="showModal = false;"></modal>
                    <memo v-for="task of tasks"
                          :key="task.id"
                          :id="task.id"
                          :title="task.title"
                          :text="task.text"
                          :created="task.created"
                          v-on:delete-memo-request="deleteMemo"
                          v-on:save-memo-request="saveMemo"
                    ></memo>
                </div>
            </div>
        </div>
    </section>
</div>
</body>

<script type="module" th:src="@{/js/index.js}"></script>
</html>